/* Footer.css */
footer {
  background-color: #222;
  color: #fff;
  bottom: 0;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  margin: -25px; 
  width: 100vw
}
.elements{
  display: flex;
  justify-content: space-around;
}

.copy {
  padding-top: 5.5%;
}
.logo-img {
  max-width: 100%;
  max-height: 50px; /* altura máxima de 50 pixels, ajuste de acordo com suas necessidades */
}
