.sobre {
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 255, 244);;
}

.sesquerda {

}

.simg {

}

.sdireita {

}

.stitle {

}

.scaixa {

}