footer {  
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 1rem;
}

.icons {
  display: flex;
}

.icons > * + * {
  margin-left: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

li p {
  margin: 0;
}

  