
.form-control.score-container {
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}
.score-container{
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.3s;
}
.score-container svg:hover{
 fill: rgb(141, 219, 141);   
}
.score-container input:checked ~ svg{
    fill: rgb(141, 219, 141);
}
.radio-container{
    text-align: center;
    position: relative;
}
.radio-container input{
    opacity: 0;
    position: absolute;
    top: 15px;
    left: 30px;
}
.radio-container p{
    font-size: italic;
    font-weight: 300;
    font-size: 0.7rem;
    margin-top: 0.4rem;
}