@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.sun{
    background-image: url('../../public/img/495976.png');
}
      
.menu {
    background-color: white;
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
}

.paragraph {
    position: relative;
    top: 245px;
    left: 135px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Caveat', cursive;
}

.btn {
    position: relative;
    top: 260px;
    left: 200px;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .btn:hover {
    background-color: #3e8e41;
  }

